.classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.card-phone {
  display: inline-block;
  overflow: hidden;
}
.card-phone img {
  transition: 1s;
  display: block;
}
.card-phone img:hover {
  transform: scale(1.1);
}

.list-inp {
  text-align: center;
  margin-top: 10px;
}
.list-filter {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 60%;
}
