.in-container {
  margin: 20px auto;
}
.home-card-1 {
  background-color: #444444;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.bollsh {
  font-size: 60px;
  text-transform: none;
  margin-bottom: 20px;
}

.bolld-min {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
.bold-none {
  font-size: 18px;
  max-width: 66%;
  font-weight: normal;
}
.home-card-all {
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
.home-card-text {
  width: 100%;
}
.img-home {
  width: 80%;
  max-width: 100%;
  margin: 20px auto;
}
